body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/img/roadlights.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark{background-color: #1e1e21 !important}

nav a
{
  color: #ced4da !important
}

.form-control-sm
{
  border-radius: 0px !important;
}

.card
{
  background-color: rgba(0,0,0,0.8) !important;
  color: #fff !important
}

.input-group-text
{
  border: 1px solid #000;
  border-radius: 0px !important; 
}

.required-field
{
  border-left: 5px solid #dc3545!important;
}

.centerImage 
{
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.card 
{
  border-radius: 0px !important;
}

.boxShadow
{
  box-shadow: 0 2px 10px 2px #000;
}

.boxShadowSmall
{
  box-shadow: 0 1px 10px 1px #000
}